body {
    background-color:#000000;
}

.app {
    display: grid;
    grid-template-columns: 250px auto 250px;
    grid-template-rows: auto 150px;
    justify-content: center;
}

.screen {
    grid-column: 2;
    grid-row: 1;

    border-style: solid;
    border-width: 1px;
    border-color: orange;
}

.msgBox {
    grid-column: 2;
    grid-row: 2;
    overflow-x: hidden;
    overflow-y: scroll;

    border-style: solid;
    border-width: 1px;
    border-color: purple;

}

.msgBox::-webkit-scrollbar {
   width: 5px;
}

.msgBox::-webkit-scrollbar-thumb {
    background-color: rgba(119, 118, 118, 0.404);
}

.msgBox p {
    margin: 0px;
    font-size: 15px;
    color: orange;
}

.leftDiv, .rightDiv {
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}

.leftDiv {
   grid-column: 1;
}

.rightDiv {
    grid-column: 3;
}